html{
    background-image: url(images/svbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size:50px;
    color: #e8eef1;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    width: fit-content;
    overflow: hidden;
    background-color: #057dcd;
}

li a{
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
}

li a:hover{
    background-color: #43b0f1;
}

h2 {
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
    color: #C34B27;
}

p{
    font-size:20px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #d36645;
}
.shipping{
    display: inline-block;
    margin: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}
.fish{
    display: inline-block;
    margin: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}
.artifacts{
    display: inline-block;
    margin: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}
.minerals{
    display: inline-block;
    margin: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}