html{
    background-image: url(images/svbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size:50px;
    color: #e8eef1;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    width: fit-content;
    overflow: hidden;
    background-color: #057dcd;
}

li a{
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
}

li a:hover{
    background-color: #43b0f1;
}

h2 {
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
    color: #e8eef1;
}

p{
    font-size:20px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #e8eef1;
}