body{
    background-image: url(images/svlight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size:50px;
    color: #e8eef1;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.buttonContainer{
    text-align: center;
    padding: 10px;

}

ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    width: fit-content;
    overflow: hidden;
    background-color: #057dcd;
}

li a{
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
}

li a:hover{
    background-color: #43b0f1;
}

#progressStatus {
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
  }
    
  #progressBar {
    border-radius: 10px;
    width: 0;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }

h2 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: #C34B27;
}

p{
    font-family: 'Gemunu Libre', sans-serif;
    font-size:22px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #d36645;
    text-align: center;
}

.window{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    padding: 2%;
    width: 30%;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}

.items{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
}